.name {
    color: red;
}

.lastName {
    color: red;
}

.birthday {
    font-style: italic;
}

.phoneNumber {
    font-weight: bold;
}

.text {
    color:red;
}

.text:hover {
    color: green;
}

.background {
    background-image: url(img/1picture.jpeg);
}